# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/gradle.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/workspace.xml
TechnomicsV-1.0.iml
TechnomicsV-1.1.iml
Test.iml
app/app.iml
app/build.gradle
app/build/generated/
app/build/intermediates/assets/
app/build/intermediates/blame/
app/build/intermediates/build-info/
app/build/intermediates/builds/
app/build/intermediates/check-manifest/
app/build/intermediates/classes/debug/android/support/compat/
app/build/intermediates/classes/debug/android/support/constraint/
app/build/intermediates/classes/debug/android/support/coreui/R$attr.class
app/build/intermediates/classes/debug/android/support/coreui/R$bool.class
app/build/intermediates/classes/debug/android/support/coreui/R$color.class
app/build/intermediates/classes/debug/android/support/coreui/R$dimen.class
app/build/intermediates/classes/debug/android/support/coreui/R$drawable.class
app/build/intermediates/classes/debug/android/support/coreui/R$id.class
app/build/intermediates/classes/debug/android/support/coreui/R$integer.class
app/build/intermediates/classes/debug/android/support/coreui/R$layout.class
app/build/intermediates/classes/debug/android/support/coreui/R$string.class
app/build/intermediates/classes/debug/android/support/coreui/R$style.class
app/build/intermediates/classes/debug/android/support/coreui/R.class
app/build/intermediates/classes/debug/android/support/coreutils/R$attr.class
app/build/intermediates/classes/debug/com/app/ilms/R$anim.class
app/build/intermediates/classes/debug/com/app/ilms/R$animator.class
app/build/intermediates/classes/debug/com/app/ilms/R$attr.class
app/build/intermediates/classes/debug/com/app/ilms/R$bool.class
app/build/intermediates/classes/debug/com/app/ilms/R$color.class
app/build/intermediates/classes/debug/com/app/ilms/R$dimen.class
app/build/intermediates/classes/debug/com/app/ilms/R$drawable.class
app/build/intermediates/classes/debug/com/app/ilms/R$id.class
app/build/intermediates/classes/debug/com/app/ilms/R$integer.class
app/build/intermediates/classes/debug/com/app/ilms/R$layout.class
app/build/intermediates/classes/debug/com/app/ilms/R$menu.class
app/build/intermediates/classes/debug/com/app/ilms/R$mipmap.class
app/build/intermediates/classes/debug/com/app/ilms/R$raw.class
app/build/intermediates/classes/debug/com/app/ilms/R$string.class
app/build/intermediates/classes/debug/com/app/ilms/R$style.class
app/build/intermediates/classes/debug/com/app/ilms/R$styleable.class
app/build/intermediates/classes/debug/com/app/ilms/R.class
app/build/intermediates/incremental/InstantRunDependenciesApkBuilder/
app/build/intermediates/incremental/InstantRunSliceSplitApkBuilder/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/merged.dir/
app/build/intermediates/incremental/mergeDebugResources/stripped.dir/
app/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
app/build/intermediates/incremental/mergeReleaseResources/stripped.dir/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResour
ces/
app/build/intermediates/incremental/processReleaseResources/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/
app/build/intermediates/prebuild/
app/build/intermediates/reload-dex/
app/build/intermediates/res/symbol-table-with-package/androidTest/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/androidTest/
app/build/intermediates/tmp/
app/build/intermediates/transforms/instantRun/debug/1/
app/build/intermediates/transforms/instantRunSlicer/debug/6/
app/build/intermediates/transforms/instantRunSlicer/debug/7/
app/build/intermediates/transforms/instantRunSlicer/debug/8/
app/build/intermediates/transforms/instantRunSlicer/debug/9/
app/build/intermediates/transforms/instantRunSlicer/debug/__content__.json
app/build/intermediates/transforms/instantRunSlicesApk/
app/build/intermediates/transforms/mergeJavaRes/
app/build/intermediates/transforms/mergeJniLibs/
app/build/intermediates/transforms/preDex/
app/build/outputs/
app/build/reports/
app/build/tmp/
app/libs/
app/release/
app/src/
build.gradle
build/
gradle/
gradlew
gradlew.bat
import-summary.txt
local.properties
qrcodescanner/.gitignore
qrcodescanner/build.gradle
qrcodescanner/proguard-rules.pro
qrcodescanner/qrcodescanner.iml
qrcodescanner/src/
settings.gradle
app/build/intermediates/incremental/processDebugResources/
app/bu
ild/intermediates/incremental/processReleaseResources/
